<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<body>
Dear Shantanu,<p/>

<div>
<table border=1 width="95%" align="center">
#foreach( $prd1 in $prdList1 )
	<tr style='mso-yfti-irow:1;mso-yfti-lastrow:yes'>
		<td>$prd1.Pid</td>
		<td>$prd1.cost</td>
	</tr>
#end
</table>
</div>

This is a reminder email. Please remember to submit your application by EOD today.<p/>

<div>
<table border=1 width="95%" align="center">
<tr style='mso-yfti-irow:1;mso-yfti-lastrow:yes'>
	<td colspan="2">Sahnanu tye</td>
</tr>

<tr style='mso-yfti-irow:1;mso-yfti-lastrow:yes'>
	<td>$colHead1</td>
	<td>$colHead2</td>
</tr>
#foreach( $prd2 in $prdList2 )
	<tr style='mso-yfti-irow:1;mso-yfti-lastrow:yes'>
		<td>$prd2.Pid</td>
		<td>$prd2.cost</td>
	</tr>
#end
</table>
</div>
Thanks<br/>
Development Team.

</body>
</html>